<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="head">
    <meta charset="UTF-8">
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</div>

<div th:fragment="headerNav">
    <nav>
        <a th:href="@{/}">Home Page<span> | </span></a>


        <a th:href="@{/signupPage}">Signup<span> | </span></a>

        <a th:href="@{/login}">Login</a>

        <span sec:authorize="isAuthenticated()">  |
            <a  th:href="@{/myProfile}">
            <span sec:authentication="name" ></span>
            <span> | </span>
        </a></span>

        <a sec:authorize="isAuthenticated()" th:href="@{/feeds}">
            Feeds
            <span> | </span>
        </a>

        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
            Log Out
        </a>



    </nav>
</div>

</body>
</html>