<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" lang="en"
>
<head>
    <div th:replace="fragments :: head"></div>
    <title>Profile Page</title>
</head>
<body>
<header>
    <div class="header" th:insert="fragments :: headerNav"></div>
</header>
<main>

    <h1>Welcome to <span th:text="${userDetails.username}"></span>'s profile
        <span >
            <a th:href="'/user/' + ${current.userId} + '/follow/' + ${userDetails.userId}">  >> Follow <<</a>
        </span>
    </h1>

    <div class="profile">
        <img th:src="@{/images/blankProfilePicture.png}">
        <p th:text="'First Name: ' + ${userDetails.firstName}"></p>
        <p th:text="'Last Name: ' + ${userDetails.lastName}"></p>
        <p th:text="'Date Of Birth: ' + ${userDetails.dateOfBirth}"></p>
        <p th:text="'bio: ' + ${userDetails.bio}"></p>
    </div>

    <!--    <h1 class="home">All Posts</h1>-->
    <!--    <div class="profile" sec:authorize="isAuthenticated()" th:each="post : ${posts}">-->
    <!--        <h2 th:text="${userDetails.username}"></h2>-->
    <!--        <h2 th:text="${post.createdAt}"></h2>-->
    <!--        <h2 th:text="${post.postBody}"></h2>-->
    <!--    </div>-->


</main>
</body>
</html>