<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments :: head"></div>
    <title>Profile Page</title>
</head>
<body>
<header>
    <div class="header" th:insert="fragments :: headerNav"></div>
</header>
<main>

    <h1>Welcome to <span th:text="${userDetails.username}"></span>'s profile</h1>
    <div class="profile">
        <img th:src="@{/images/blankProfilePicture.png}">
        <p th:text="'First Name: ' + ${userDetails.firstName}"></p>
        <p th:text="'Last Name: ' + ${userDetails.lastName}"></p>
        <p th:text="'Date Of Birth: ' + ${userDetails.dateOfBirth}"></p>
        <p th:text="'bio: ' + ${userDetails.bio}"></p>
    </div>

    <h1 class="home">Create Post</h1>
    <form sec:authorize="isAuthenticated()" th:action="@{/myProfile}" method="post">
        <p class="input">
            <textarea name="postBody" placeholder="Write Post" required></textarea>
        </p>
        <p class="button">
            <input type="submit" value="Create">
        </p>
    </form>

    <h1 class="home">All Posts</h1>
    <div class="profile" sec:authorize="isAuthenticated()" th:each="post : ${posts}">
        <h2 th:text="${userDetails.username}"></h2>
        <h2 th:text="${post.postBody}"></h2>
        <h2 th:text="${post.createdAt}"></h2>
    </div>


</main>


<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Sign Out"/>-->
<!--</form>-->
</body>
</html>